<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Simple Toaster Component</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <input type="button" class="btn btn-success" value="Success Notification"
                    (click)="showToasterSuccess()">
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-warning" value="Warning Notification" (click)="showToasterDanger()">
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-danger" value="Error Notification" (click)="showToasterError()">
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-info" value="Information Notification" (click)="showToasterInfo()">
            </div>
        </div>
    </div>
</div>