<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Custom Toaster Component</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <input type="button" class="btn btn-success" value="Success Notification" (click)="showToaster()">
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-primary" value="HTML message" (click)="showHtmlToaster()">
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-Secondary" value="Show Timespan" (click)="showTimeSpan()">
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-Info" value="Show Bottom" (click)="showButtom()">
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-Info" value="Show Top" (click)="showTop()">
            </div>
        </div>
    </div>
</div>